tr.line1 th {
  text-align: center;
  font-weight: bold;
}
td.enabled {
  text-align: center;
}
td.fentity-type,
td.fbundle,
td.ffield,
td.enabled {
  color: red;
}
tr.enabled td.fentity-type,
tr.enabled td.fbundle,
tr.enabled td.ffield,
tr.enabled td.enabled {
  color: green;
}
